<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>



    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>

    <div class="text-center m-4">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="container mb-4">
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Enter value...." id="searchInput"/>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary" id="searchBtn">Search</button>
            </div>

            <div class="col-sm text-center">
                <button class="btn btn-primary" style="display:none;" id="deleteAll">Confirm Delete All</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row border rounded-top">
            <div class="col-1 p-2 text-center">
                <input class="form-check-input" type="checkbox" id="checkAll"/>
            </div>
            <div class="col-3 p-2">Name</div>
            <div class="col-4 p-2">Email</div>
            <div class="col-2 p-2">Role</div>
            <div class="col-2 p-2">Actions</div>
        </div>
        <div id="allUsers">

            <% for( let index=0; index < userData.length; index++ ) { %>
                <div class="row border user" id="user<%=index%>" style="display: none;">
                    <div class="col-1 p-2 text-center">
                        <input class="form-check-input check-one" type="checkbox" />
                    </div>
                    <div class="col-3 p-2">
                        <span class="data"><%=userData[index].name %></span>
                        <input type="text" class="edit form-control" value="<%= userData[index].name %>" style="display: none;">
                    </div>
                    <div class="col-4 p-2">
                        <span class="data"><%=userData[index].email %></span>
                        <input type="text" class="edit form-control" value="<%= userData[index].email %>" style="display: none;">
                    </div>
                    <div class="col-2 p-2">
                        <span class="data"><%=userData[index].role %></span>
                        <input type="text" class="edit form-control" value="<%= userData[index].role %>" style="display: none;">
                    </div>
                    <div class="col-2 p-2 action-buttons">
    
                            <button class="btn btn-outline-info btn-sm editBtn" type="button">
                                Edit
                            </button>
                            <button class="btn btn-outline-info btn-sm saveBtn" style="display: none;" type="button">
                                Save
                            </button>
    
                        <div><button class="btn btn-sm btn-outline-danger delete-one" itemIndex="<%= index %>" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg></button></div>
                    </div>
                </div>
                <% } %>
        </div>

                <div class="pages">
                    <ul class="pagination">

                    </ul>
                </div>
    </div>
    <br /><br />
    <script src="/js/helper.js"></script>
</body>

</html>